@{
ViewData["Title"] = "Contact Us";
}

<div id="wrap" class="d-none">
    <div class="oe_structure">
        <section class="pt8 pb8">
            <div class="container">
                <div class="row s_nb_column_fixed">
                    <div class="col-lg-12 s_title pt16 pb16">
                        <h1>Liên hệ</h1>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="container mt-2">
        <div class="row">
            <div class="col-lg-8">
                <div class="oe_structure">
                    <section class="s_text_block">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p>
                                        Liên lạc với chúng tôi về bất cứ điều gì liên quan đến công ty hoặc
                                        dịch vụ của chúng tôi. <br>
                                        Chúng tôi sẽ làm hết sức mình để liên hệ với bạn càng sớm càng tốt.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div>
                    <form action="https://lp.com.vn/vi_VN/website_form/" method="post" data-model_name="crm.lead"
                        data-success_page="/contactus-thank-you" class="s_website_form container-fluid mt32"
                        enctype="multipart/form-data" data-editable-form="false">
                        <div class="form-group row form-field o_website_form_required_custom">
                            <label class="col-lg-3 col-md-4 col-form-label" for="contact_name">Tên
                                bạn</label>
                            <div class="col-lg-7 col-md-8">
                                <input type="text" class="form-control o_website_form_input" name="contact_name"
                                    required="" value="">
                            </div>
                        </div>
                        <div class="form-group row form-field">
                            <label class="col-lg-3 col-md-4 col-form-label" for="phone">Số Điện
                                thoại</label>
                            <div class="col-lg-7 col-md-8">
                                <input type="text" class="form-control o_website_form_input" name="phone" value="">
                            </div>
                        </div>
                        <div class="form-group row form-field o_website_form_required_custom">
                            <label class="col-lg-3 col-md-4 col-form-label" for="email_from">Email</label>
                            <div class="col-lg-7 col-md-8">
                                <input type="text" class="form-control o_website_form_input" name="email_from"
                                    required="" value="">
                            </div>
                        </div>
                        <div class="form-group row form-field o_website_form_required_custom">
                            <label class="col-lg-3 col-md-4 col-form-label" for="partner_name">Công ty/Đơn
                                vị</label>
                            <div class="col-lg-7 col-md-8">
                                <input type="text" class="form-control o_website_form_input" name="partner_name"
                                    required="" value="">
                            </div>
                        </div>
                        <div class="form-group row form-field o_website_form_required">
                            <label class="col-lg-3 col-md-4 col-form-label" for="name">Chủ đề</label>
                            <div class="col-lg-7 col-md-8">
                                <input type="text" class="form-control o_website_form_input" name="name" required=""
                                    value="">
                            </div>
                        </div>
                        <div class="form-group row form-field o_website_form_required_custom">
                            <label class="col-lg-3 col-md-4 col-form-label" for="description">Câu hỏi của
                                Bạn</label>
                            <div class="col-lg-7 col-md-8">
                                <textarea class="form-control o_website_form_input" name="description"
                                    required=""></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-lg-3 offset-md-4 col-md-8 col-lg-7">
                                <a href="https://lp.com.vn/vi_VN/contactus#" role="button"
                                    class="btn btn-primary btn-lg o_website_form_send">Gửi</a>
                                <span id="o_website_form_result"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <address itemscope="itemscope" itemtype="http://schema.org/Organization">
                    <div>
                        <address class="mb0" itemscope="itemscope" itemtype="http://schema.org/Organization">
                            <div>
                                <span itemprop="name">Công Ty Cổ Phần Công Nghệ Liên Phát</span>
                            </div>
                            <div itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
                                <div>
                                    <i class="fa fa-map-marker fa-fw" role="img" aria-label="Địa chỉ"
                                        title="Địa chỉ"></i>
                                    <span itemprop="streetAddress">Văn phòng 5B &amp; 9B, Tòa nhà AS, 236 -
                                        238 Nguyễn Công Trứ, Phường Nguyễn Thái Bình, Quận 1, Hồ Chí
                                        Minh.</span>
                                </div>
                                <div><i class="fa fa-phone fa-fw" role="img" aria-label="Điện thoại"
                                        title="Điện thoại"></i> <span class="o_force_ltr" itemprop="telephone"> (+84) 28
                                        3821 6688 - (+84) 28 3821 6684</span>
                                </div>
                                <div><i class="fa fa-envelope fa-fw" role="img" aria-label="Email" title="Email"></i>
                                    <span itemprop="email"> info@lp.com.vn</span>
                                </div>
                            </div>
                        </address>
                    </div>

                    <span class="fa fa-map-marker fa-fw mt16" role="img" aria-label="Address" title="Address"></span> <a
                        target="_BLANK"
                        href="https://maps.google.com/maps?z=8&amp;q=V%C4%83n+ph%C3%B2ng+5B+%26+9B%2C+T%C3%B2a+nh%C3%A0+AS%2C+236+-+238+Nguy%E1%BB%85n+C%C3%B4ng+Tr%E1%BB%A9%2C+Ph%C6%B0%E1%BB%9Dng+Nguy%E1%BB%85n+Th%C3%A1i+B%C3%ACnh%2C+Qu%E1%BA%ADn+1%2C+H%E1%BB%93+Ch%C3%AD+Minh.%2C++%2C+">
                        Google Maps</a>
                </address>
            </div>
        </div>
    </div>
    <div class="oe_structure mt-2"></div>
</div>
<div class="oe_structure">
    <section class="pt80 pb72 header-page" style="background-image: url(img/common/header-background.svg);">
        <div class="container">
            <div class="row s_nb_column_fixed">
                <div class="col-lg-12 s_title">

                    <h2 class="text-center">LIÊN HỆ CHÚNG TÔI</h2>
                    <h6 class="text-center">TRANG CHỦ / LIÊN HỆ CHÚNG TÔI</h6>

                </div>
            </div>
        </div>
    </section>

    <section class="container pt80">
        <div class="row col-12">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div id="contacts" class="map-area">
                    <div id="googleMap">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.566371816326!2d106.69796731418243!3d10.767864262297582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f40068b5a77%3A0xf80e4fdadaba9c43!2zTGllbiBQaGF0IFRlY2hub2xvZ3kgQ29ycG9yYXRpb24gKEPDtG5nIFR5IEPhu5UgUGjhuqduIEPDtG5nIE5naOG7hyBMacOqbiBQaMOhdCk!5e0!3m2!1sen!2s!4v1607174145453!5m2!1sen!2s"
                            width="562" height="575" frameborder="0" style="border:0;">
                        </iframe>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <section class="contact-detail">
                    <h2 class="heading pb16">LIÊN HỆ CHÚNG TÔI</h2>
                    <p>Chúng tôi luôn sẵn sàng đón nhận bất kỳ yêu cầu hoặc phản hồi nào từ Quý Khách Hàng.
                        Vui lòng liên hệ Hotline hoặc Email, chúng tôi sẽ liên hệ lại với bạn ngay khi có
                        thể.</p>
                    <address class="mb0 pt24">
                        <div class="address">
                            <div class="pb16 row">
                                <div class="col-1">
                                    <i class="fa fa-map-marker fa-fw" role="img" aria-label="Address"
                                        title="Địa chỉ"></i>
                                </div>
                                <div class="col-11">
                                    <p1>Công Ty Cổ Phần Công Nghệ Liên Phát</p1>
                                    <br>
                                    <p>VP 5B-9B, Tòa nhà AS, 236-238 Nguyễn Công Trứ,
                                        <br>
                                        P.Nguyễn Thái Bình, Quận 1, TP.HCM
                                    </p>
                                </div>
                            </div>
                            <div class="pb16 row">
                                <div class="col-1">
                                    <i class="fa fa-phone fa-fw" role="img" aria-label="Phone" title="Điện thoại"></i>
                                </div>
                                <div class="col-11">
                                    <span> (+84) 28 3821 6688 - (+84) 28 3821 6684</span>
                                </div>
                            </div>
                            <div class="pb16 row">
                                <div class="col-1">
                                    <i class="fa fa-envelope fa-fw" role="img" aria-label="Email" title="Email"></i>
                                </div>
                                <div class="col-11">
                                    <span> info@lp.com.vn</span>
                                </div>
                            </div>
                            <div class="pb16 row">
                                <div class="col-1">
                                    <i class="fa fa-globe fa-fw" role="img" aria-label="Website" title="Website"></i>
                                </div>
                                <div class="col-11">
                                    <span>https://www.lp.com.vn</span>
                                </div>
                            </div>
                        </div>

                    </address>
                    <div class="form-message pt24">
                        <form action="https://lp.com.vn/vi_VN/website_form/" method="post" data-force_action="crm.lead"
                            data-model_name="crm.lead" data-success_page="/contactus-thank-you"
                            class="s_website_form container-fluid mt32" enctype="multipart/form-data"
                            data-editable-form="false">
                            <input type="hidden" name="csrf_token"
                                value="a846e6400168680a46b2e8829ba874a95ae4eac2o1667930731">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control message-input" id="inputEmail4"
                                        name="partner_name" placeholder="Tên">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control message-input" id="inputPassword4"
                                        name="phone" placeholder="Điện thoại">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control message-input" id="inputEmail" name="email_from"
                                    placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control message-input" id="inputAddress" name="name"
                                    placeholder="Chủ đề">
                            </div>
                            <div class="form-group">
                                <textarea type="text" class="form-control message-input" name="description"
                                    id="inputAddress2" placeholder="Nhập lời nhắn của bạn..." cols="30"
                                    rows="5"></textarea>
                            </div>
                            <div class="form-group row">
                                <a href="https://lp.com.vn/vi_VN/contactus#" role="button"
                                    class="btn-send o_website_form_send">Gửi</a>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </section>

</div>