﻿<!DOCTYPE html>
<html lang="vi-VN" data-oe-company-name="Công Ty Cổ Phần Công Nghệ Liên Phát" data-website-id="1">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:site_name" content="Công Ty Cổ Phần Công Nghệ Liên Phát">

    <title>@ViewData["Title"] | LPC</title>
    <link type="image/x-icon" rel="shortcut icon" href="~/img/favicon/fav-lpc.png">
    <link type="text/css" rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link type="text/css" rel="stylesheet" href="~/css/web.assets_common.0.css">
    <link type="text/css" rel="stylesheet" href="~/css/web.assets_frontend.0.css">
    <link type="text/css" rel="stylesheet" href="~/css/web.assets_frontend.1.css">
    <!-- <link href="https://lp.com.vn/vihu_web/static/src/plugins/owl-carousel/owl.carousel.scss" type="text/scss">
    <link href="https://lp.com.vn/vihu_web/static/src/plugins/owl-carousel/owl.theme.scss" type="text/scss">
    <link href="https://lp.com.vn/vihu_web/static/src/plugins/jquery.mCustomScrollbar.scss" type="text/scss">
    <link href="https://lp.com.vn/vihu_web/static/src/plugins/countdown/jquery.countdown.scss" type="text/scss"> -->


    <script type="text/javascript" src="~/js/web.assets_common.js"></script>
    <script type="text/javascript" src="~/js/web.assets_frontend.js"></script>
    <script type="text/javascript" src="~/js/loader.js"></script>

    <link type="text/css" rel="stylesheet" href="~/css/tooltip.css">
    <link type="text/css" rel="stylesheet" href="~/css/util.css">


    <script type="text/javascript" src="~/js/jsapi_compiled_default_module.js"></script>
    <script type="text/javascript" src="~/js/jsapi_compiled_graphics_module.js"></script>
    <script type="text/javascript" src="~/js/jsapi_compiled_ui_module.js"></script>
    <script type="text/javascript" src="~/js/jsapi_compiled_corechart_module.js"></script>

    
    <link type="text/css" rel="stylesheet" href="~/css/main/main.css">
</head>

<body class="vsc-initialized sticky-header">
<div id="wrapwrap" class="   ">
    <header class=" o_affix_enabled">
        <div class="header-topbar">
            <div class="container">
                <div class="row align-items-center justify-content-md-center">
                    <div class="col text-left hide-mobile">
                        <div class="login-header">
                            <ul class="list-inline">
                                <li>
                                    <a asp-controller="Contact">
                                        <i class="fa fa-phone"></i>
                                        <span> (+84) 28 3821 6688 - (+84) 28 3821 6684</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Contact">
                                        <i class="fa fa-envelope"></i>
                                        <span> info@lp.com.vn</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col text-right pr-0">
                        <div class="header-icons justify-content-end">
                            <div class="header-setting">

                                <div class="form-language hed-drop">
                                    <h4>Language</h4>
                                    <ul id="lang" class="js_language_selector">
                                        <li class="">
                                            <label data-toggle="dropdown" type="button" data-caret="true"
                                                class="dropdown-toggle" aria-expanded="false">
                                                Tiếng Việt
                                            </label>
                                            <ul role="menu"
                                                class="dropdown-menu dropdown-menu-right js_language_selector"
                                                x-placement="bottom-end"
                                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(80px, 24px, 0px);">
                                                <li>
                                                    <a data-lang="en_US" asp-controller="Home">
                                                        English
                                                    </a>
                                                </li>
                                                <li class="active">
                                                    <a data-lang="vi_VN" asp-controller="Home">
                                                        Tiếng Việt
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="login-header">
                                <ul class="list-inline">
                                    <li>
                                        <a asp-controller="Login">
                                            <i class="fa fa-sign-in"></i>
                                            Login
                                        </a>
                                    </li>
                                    <li>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-md navbar-light bg-light header-main">
            <div class="container">
                <a asp-controller="Home" class="navbar-brand logo">
                    <span role="img" aria-label="Logo of Công Ty Cổ Phần Công Nghệ Liên Phát"
                        title="Công Ty Cổ Phần Công Nghệ Liên Phát"><img src="~/img/logo/logo.png"
                            class="img img-fluid"></span>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse"
                    data-target="#top_menu_collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="top_menu_collapse" aria-expanded="false">
                    <ul class="nav navbar-nav ml-auto text-right" id="top_menu">
                        <li class="nav-item">
                            <a role="menuitem" asp-controller="Home" class="nav-link active">
                                <span>Trang chủ</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a data-toggle="dropdown" href="#"
                                class="nav-link dropdown-toggle">
                                <span>Sản Phẩm</span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="">
                                    <a role="menuitem" asp-controller="Product"
                                        asp-fragment="system_integration"
                                        class="dropdown-item ">
                                        <span>Tích hợp Hệ Thống</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a role="menuitem" asp-controller="Product"
                                        asp-fragment="digital_transformation"
                                        class="dropdown-item ">
                                        <span>Chuyển Đổi Số</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a role="menuitem" asp-controller="Product"
                                        asp-fragment="services"
                                        class="dropdown-item ">
                                        <span>Dịch Vụ</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a role="menuitem" asp-controller="Blog" class="nav-link ">
                                <span>Tin tức</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a role="menuitem" asp-controller="Contact" class="nav-link ">
                                <span>Liên Hệ</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a role="menuitem" asp-controller="About" class="nav-link">
                                <span>Về Liên Phát</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <main>
        @RenderBody()
    </main>

    <footer class="bg-light o_footer">
        <div id="footer" style="display:none;" class="container hidden-print">
            <div class="row">
                <div class="col-md-4 col-lg-3">
                    <h4>Sản phẩm &amp; Dịch vụ</h4>
                    <ul class="list-unstyled" id="products">
                        <li>
                            <a asp-controller="Home">Trang chủ</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4  col-lg-3" id="info">
                    <h4>Kết nối với chúng tôi</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a asp-controller="Contact">Liên hệ</a>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa fa-phone"></i>
                            <span> (+84) 28 3821 6688 - (+84) 28 3821 6684</span>
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <span> info@lp.com.vn</span>
                        </li>
                    </ul>
                    <h2>
                    </h2>
                </div>
                <div class="col-md-4 col-lg-5 col-lg-offset-1">
                    <h4>
                        <span>Công Ty Cổ Phần Công Nghệ Liên Phát</span>
                        <small>-
                            <a asp-controller="About">Về Chúng tôi</a>
                        </small>
                    </h4>
                    <div>
                        <p>
                            Chúng tôi là một nhóm gồm những người đam mê với mục tiêu là cải thiện cuộc sống
                            của mọi người thông qua các sản phẩm đột phá. Chúng tôi xây dựng các sản phẩm tuyệt vời
                            để giải quyết
                            các vấn đề kinh doanh của bạn.
                        </p>
                        <p>
                            Sản phẩm của chúng tôi được thiết kế cho các công ty vừa và nhỏ sẵn sàng tối ưu hóa
                            hiệu suất của họ.
                        </p>
                    </div>
                    <ul class="js_language_selector mb0 list-inline">
                        <li class="list-inline-item">
                            <div class="dropup">
                                <button class="btn btn-sm btn-secondary dropdown-toggle" type="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span> Tiếng Việt</span>
                                    <span class="caret ml4"></span>
                                </button>
                                <div class="dropdown-menu" role="menu">
                                    <a class="dropdown-item js_change_lang" asp-controller="Home"
                                        data-lang="en_US">
                                        English
                                    </a>
                                    <a class="dropdown-item js_change_lang" asp-controller="Home"
                                        data-lang="vi_VN">
                                        Tiếng Việt
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="site-footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <a class="logo" asp-controller="Home">
                                <img src="~/img/logo/LPC_LOGO.png">
                            </a>
                            <div class="about-text pb16">VP 5B-9B, Tòa nhà AS, 236-238 Nguyễn Công Trứ, P.Nguyễn
                                Thái Bình, Quận 1, TP.HCM
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="offset-md-1 col-md-3">
                                    <h6 class="footer-title">Menu</h6>
                                    <ul class="footer-ul footer-menu">
                                        <li>
                                            <a asp-controller="Home">Trang chủ</a>
                                        </li>
                                        <li>
                                            <a asp-controller="About">Về Liên Phát</a>
                                        </li>
                                        <li>
                                            <a asp-controller="Product">Dịch vụ</a>
                                        </li>
                                        <li>
                                            <a asp-controller="Blog">Tin tức</a>
                                        </li>
                                        <li>
                                            <a asp-controller="Contact">Liên hệ</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h6 class="footer-title">Liên kết hữu ích</h6>
                                    <ul class="footer-ul footer-menu">
                                        <li>
                                            <a href="#">Câu hỏi thường gặp</a>
                                        </li>
                                        <li>
                                            <a href="#">Đội ngũ Liên Phát</a>
                                        </li>
                                        <li>
                                            <a href="#">Chính sách bảo mật</a>
                                        </li>
                                        <li>
                                            <a href="#">Điều khoản &amp; Điều kiện</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h6 class="footer-title">Liên hệ</h6>
                                    <ul class="footer-ul contact-info">
                                        <li>
                                            <i class="fa fa-phone"></i>
                                            <span>(+84) 28 3821 6688</span><br>
                                            <span>(+84) 28 3821 6684</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-envelope-o"></i>
                                            <span> info@lp.com.vn</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-globe"></i>
                                            <span>https://www.lp.com.vn</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-map-marker"></i>
                                            @{
                                                string googleMapAddress = "https://www.google.com/maps/place/Lien+Phat+Technology+Corporation+(C%C3%B4ng+Ty+C%E1%BB%95+Ph%E1%BA%A7n+C%C3%B4ng+Ngh%E1%BB%87+Li%C3%AAn+Ph%C3%A1t)/@10.7679955,106.6991394,17.5z/data=!4m5!3m4!1s0x31752f40068b5a77:0xf80e4fdadaba9c43!8m2!3d10.7678478!4d106.7001675?hl=vi-VN";
                                            }
                                            <a
                                                href=@googleMapAddress>Google
                                                Map</a>
                                        </li>
                                        <li class="social-network">
                                            <a target="_blank"
                                                href="https://www.facebook.com/LienPhatTechnologyCorporation/">
                                                <i class="fa fa-facebook-square"></i>
                                            </a>
                                            <a target="_blank"
                                                href="https://www.youtube.com/channel/UCSvGjGGOusVjZP-GoxGO3nQ">
                                                <i class="fa fa-youtube-square"></i>
                                            </a>
                                            <a target="_blank" href="https://www.linkedin.com/">
                                                <i class="fa fa-linkedin-square"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-info">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="copyright">Copyright © 2021 Lien Phat Technology Corporation. All Rights
                                Reserved.
                            </p>
                        </div>
                        <div class="col text-md-right">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</div>
</body>

<div style="position: absolute; top: 0px; display: block !important;"></div>

</html>