@{
    ViewData["Title"] = "Product Info";
}

<div id="wrap">
    <div class="oe_structure">
        <section class="pt80 pb72 header-page" style="background-image: url(img/common/header-background.svg);">
            <div class="container">
                <div class="row s_nb_column_fixed">
                    <div class="col-lg-12 s_title">
                        <h2 class="text-center">DỊCH VỤ IT</h2>
                        <h6 class="text-center">TRANG CHỦ / GIẢI PHÁP &amp; DỊCH VỤ</h6>
                    </div>
                </div>
            </div>
        </section>

        <section class="s_text_image pt8 pb8" id="system_integration">
            <div class="container">
                <div class="row pt128">
                    <div class="col-lg-6">
                        <img src="~/img/product/system_integration.svg">
                    </div>
                    <div class="col-lg-6">
                        <div class="sub-heading sub-heading-lpc-6 services">
                            <img src="~/img/product/services_header.svg">
                            <h5>TÍCH HỢP HỆ THỐNG</h5>
                            <h3 class="">CÔNG TY HÀNG ĐẦU TRONG LĨNH VỰC CUNG CẤP SẢN PHẨM VÀ TÍCH HỢP GIẢI
                                PHÁP CÔNG NGHỆ</h3>
                            <p>Công ty Cổ phần Công nghệ Liên Phát tư vấn và cung cấp các giải pháp tổng thể
                                về lựa chọn cấu hình, triển khai và tích hợp hệ thống máy chủ và lưu trữ cho
                                doanh nghiệp, tùy thuộc vào quy mô và nhu cầu của mỗi khách hàng. Ngoài ra,
                                với khả năng hiểu biết về các sản phẩm máy chủ và lưu trữ của các hãng HPe,
                                DellEMC, Nutanix,… Liên Phát còn giúp khách hàng thiết kế, triển khai các
                                giải pháp chuyên sâu về Ảo hóa, phân vùng Máy chủ – Lưu trữ, các giải pháp
                                Điện toán đám mây cao cấp hoặc phù hợp với các ứng dụng chuyên biệt như Core
                                Banking, Core Securities, hạ tầng ERP…</p>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="row s_col_no_bgcolor s_faq_collapse">
                            <div class="col-lg-12 pt16 pb16">
                                <div id="myCollapse" class="accordion" role="tablist">
                                    <div class="card bg-white">
                                        <a href="#ha_tang" role="tab"
                                            data-toggle="collapse" aria-expanded="true" class="collapsed card-header">Hạ
                                            tầng mạng tổng thể</a>
                                        <div class="collapse row" role="tabpanel" id="ha_tang">
                                            <div class="col-8">
                                                <div class="card-body">
                                                    <p class="card-text">Ngày nay hệ thống mạng không chỉ
                                                        đáp ứng các yêu cầu kết nối cơ bản mà còn phải đáp
                                                        ứng các yêu cầu cao hơn về băng thông, chất lượng
                                                        dịch vụ. Đội ngũ kỹ sư của Liên Phát sẽ tư vấn,
                                                        triển khai một cấu trúc tối ưu cho từng nhu cầu của
                                                        các doanh nghiệp.</p>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <img
                                                    src="~/img/product/An-Introductory-Guide-to-Understanding-Network-Infrastructure.jpg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card bg-white">
                                        <a href="#cong_nghe_luu_tru" role="tab"
                                            data-toggle="collapse" aria-expanded="true"
                                            class="collapsed card-header">Công nghệ lưu trữ và máy chủ</a>
                                        <div class="collapse row" role="tabpanel" id="cong_nghe_luu_tru">
                                            <div class="col-8">
                                                <div class="card-body">
                                                    <p class="card-text">Hệ thống lưu trữ và máy chủ hoạt
                                                        động thiếu ổn định có thể dẫn đến những thiệt hại to
                                                        lớn cho doanh nghiệp. Công ty Liên Phát với nhiều
                                                        năm kinh nghiệm trong lĩnh vực này sẽ tư vấn, triển
                                                        khai hệ thống lưu trữ và máy chủ với cấu trúc riêng
                                                        biệt, phù hợp cho từng tổ chức, doanh nghiệp để mang
                                                        lại hiệu quả đầu tư rõ rệt.</p>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <img src="~/img/product/1.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card bg-white">
                                        <a href="#giai_phap_ao_hoa" role="tab"
                                            data-toggle="collapse" aria-expanded="true"
                                            class="collapsed card-header">Giải pháp ảo hóa</a>
                                        <div class="collapse row" role="tabpanel" id="giai_phap_ao_hoa">
                                            <div class="col-8">
                                                <div class="card-body">
                                                    <p class="card-text">Công ty Liên Phát có nhiều kinh
                                                        nghiệm trong việc tư vấn, quản lý, xây dựng hạ tầng
                                                        ảo hóa máy chủ, ảo hóa TTDL, xây dựng private cloud,
                                                        public cloud và hybrid cloud. Hỗ trợ khách hàng tiết
                                                        kiệm chi phí quản lý, tài nguyên, và tập trung hơn
                                                        vào việc cải tiến các dịch vụ doanh nghiệp của mình
                                                        trên nền tảng này.</p>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <img src="~/img/product/0_E12XuIKU2JLfoA7Z-460x330.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card bg-white">
                                        <a href="#giai_phap_bao_mat" role="tab"
                                            data-toggle="collapse" aria-expanded="true"
                                            class="collapsed card-header">Giải pháp bảo mật</a>
                                        <div class="collapse row" role="tabpanel" id="giai_phap_bao_mat">
                                            <div class="col-8">
                                                <div class="card-body">
                                                    <p class="card-text">
                                                        Gần đây thông tin và dữ liệu dần trở thành một trong
                                                        những tài sản giá trị của doanh nghiệp, việc bảo mật
                                                        thông tin trở thành vấn đề sống còn. Liên Phát thấu
                                                        hiểu và cung cấp những giải pháp an toàn thông tin
                                                        tiên tiến nhất, đồng thời tư vấn những giải pháp,
                                                        phương án xử lý hiệu quả và kịp thời nhất.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <img
                                                    src="~/img/product/business-corporate-protection-safety-security-concept_53876-64964.jpg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card bg-white">
                                        <a href="#ha_tang_du_lieu" role="tab"
                                            data-toggle="collapse" aria-expanded="true" class="collapsed card-header">Hạ
                                            tầng Trung tâm Dữ liệu</a>
                                        <div class="collapse row" role="tabpanel" id="ha_tang_du_lieu">
                                            <div class="col-8">
                                                <div class="card-body">
                                                    <p class="card-text">
                                                        Hạ tầng DataCenter bao gồm hệ thống nguồn điện, làm
                                                        mát, phòng cháy chữa cháy, an ninh giám sát, kết nối
                                                        mạng, truyền dẫn, NOC...Liên Phát có thể hỗ trợ
                                                        khách hàng trọn gói từ việc khảo sát, tư vấn, triển
                                                        khai, xây dựng và vận hành giám sát. Đảm bảo hạ tầng
                                                        DataCenter hoạt động ổn định 24/7.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <img src="~/img/product/Data_Center.gif">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="s_text_image pt8 pb8" id="digital_transformation">
            <div class="container">
                <div class="row pt128">
                    <div class="col-lg-6">
                        <div class="sub-heading sub-heading-lpc-4">
                            <h5>CHUYỂN ĐỔI SỐ</h5>
                            <h3 class="">THAY ĐỔI PHƯƠNG THỨC LÀM VIỆC, TỐI ƯU HÓA HIỆU SUẤT CHO DOANH
                                NGHIỆP</h3>
                            <p>Chuyển đổi số là một khái niệm đang dần phổ biến trong thời gian gần đây, mô
                                tả việc ứng dụng công nghệ số vào tất cả các khía cạnh của doanh nghiệp. Khi
                                triển khai hiệu quả, chuyển đổi số sẽ thay đổi toàn diện cách thức mà một
                                doanh nghiệp hoạt động, tăng hiệu quả hợp tác, tối ưu hóa hiệu suất làm việc
                                và mang lại giá trị cho khách hàng.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img src="~/img/product/digital_trans.svg">
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="row s_col_no_bgcolor s_faq_collapse">
                            <div class="col-lg-12 pt16 pb16">
                                <div id="myCollapse" class="accordion" role="tablist">
                                    <div class="card bg-white">
                                        <a href="#lp_cms" role="tab"
                                            data-toggle="collapse" aria-expanded="true"
                                            class="collapsed card-header">Giải pháp giám sát an ninh
                                            LP-CMS</a>
                                        <div class="collapse row" role="tabpanel" id="lp_cms">
                                            <div class="col-8">
                                                <div class="card-body">
                                                    <p class="card-text">
                                                        LP-CMS được xây dựng nhằm kết nối hệ thống camera
                                                        hiện hữu của khách hàng từ những thiết bị hoạt
                                                        động riêng rẽ và thiếu tính ứng dụng trở thành một
                                                        Trung tâm giám sát an ninh hoàn chỉnh.<br><br>
                                                        Mục tiêu của hệ thống là giám sát, lưu trữ
                                                        và xử lý video theo thời gian thực, từ đó
                                                        quản trị tập trung về an ninh tại trung tâm
                                                        giám sát.<br><br>
                                                        Các thành phần cơ bản của một hệ thống
                                                        LP-CMS:<br>
                                                        - Hệ thống phần cứng máy chủ lưu trữ và
                                                        chuyển mạch<br>
                                                        - Hệ phần mềm quản trị camera/ thiết bị
                                                        IoT<br>
                                                        - Hệ thiết bị phòng vệ, xử lý tình
                                                        huống<br>
                                                        - Hệ thống camera giám sát, thiết bị IoT, hệ
                                                        thống cảm biến<br><br>
                                                        LP-CMS có thể ứng dụng vào rất nhiều mảng,
                                                        lĩnh vực từ kinh doanh đến sản xuất như:<br>
                                                        - Hệ thống giám sát, phân tích hình ảnh,
                                                        cảnh báo an ninh<br>
                                                        - Hệ thống giám sát, phân tích dữ liệu kết
                                                        hợp với hệ thống bán hàng<br>
                                                        - Hệ thống giám sát nhà xưởng cảnh báo đột
                                                        nhập, cảnh báo cháy nổ<br>
                                                        - Hệ thống giữ xe thông minh kết hợp quản lý
                                                        tập trung camera cho tòa nhà…<br>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <img
                                                    src="~/img/product/security-systems-isometric-flowchart-with-surveillance-cameras-laser-sensors-indoor-cctv-electronic-locks-a.jpg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card bg-white">
                                        <a href="#lpc_rfid" role="tab"
                                            data-toggle="collapse" aria-expanded="true"
                                            class="collapsed card-header">Giải pháp quản lý bệnh nhân
                                            LPC-RFID</a>
                                        <div class="collapse row" role="tabpanel" id="lpc_rfid">
                                            <div class="col-8">
                                                <div class="card-body">
                                                    <p class="card-text">
                                                        LPC-RFID là giải pháp quản lý trong bệnh viện dùng
                                                        công nghệ RFID mà Liên Phát phối hợp cùng với hãng
                                                        Bordatech (Thổ Nhĩ Kỳ). Nền tảng này có nhiều module
                                                        khác nhau tùy nhu cầu quản lý của bệnh viện như:
                                                        quản lý tài sản dùng tag RFID, quản lý an toàn cho
                                                        bệnh nhân cao tuổi, trẻ sơ sinh, thông tin dược
                                                        phẩm, ra vào bệnh viện,...
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <img
                                                    src="~/img/product/supermarket-shopping-technology-isometric-composition_1284-23793.jpg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card bg-white">
                                        <a href="#lp_ams" role="tab"
                                            data-toggle="collapse" aria-expanded="true"
                                            class="collapsed card-header">Hệ thống quản lý tài sản
                                            LP-AMS</a>
                                        <div class="collapse row" role="tabpanel" id="lp_ams">
                                            <div class="col-8">
                                                <div class="card-body">
                                                    <p class="card-text">
                                                        Xuất phát điểm từ nhu cầu quản lý tài sản
                                                        cố định của Khách hàng trong mảng Y tế,
                                                        Khách sạn cần tích hợp với hệ thống vận
                                                        hành hiện tại từ HIS, ERP, Accounting…LPC phát
                                                        triển hệ thống AMS gọn nhẹ, linh hoạt, hoạt
                                                        động đa nền tảng từ desktop đến mobile.<br><br>
                                                        Việc kết hợp với thiết bị chuyên dụng đọc
                                                        mã vạch 1D, 2D, RFID Tag đã giúp Khách hàng
                                                        tăng tốc độ kiểm kê tài sản lên nhiều lần,
                                                        giảm thiểu chi phí nhân sự cũng như thời gian
                                                        gây ảnh hưởng đến hoạt động kinh doanh như các
                                                        phương án quản lý cổ điển, thủ công khác.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <img
                                                    src="~/img/product/quan-ly-tai-san-asset-management-79221.jpg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card bg-white">
                                        <a href="#lp_bpm" role="tab"
                                            data-toggle="collapse" aria-expanded="true"
                                            class="collapsed card-header">Nền tảng quản lý quy trình
                                            LP-BPM</a>
                                        <div class="collapse row" role="tabpanel" id="lp_bpm">
                                            <div class="col-8">
                                                <div class="card-body">
                                                    <p class="card-text">
                                                        Nền tảng được xây dựng dựa trên nền tảng mã
                                                        nguồn mở, linh hoạt trong việc tùy biến từ
                                                        giao diện đến các module chức năng để đáp ứng
                                                        được những quy trình đặc thù nhất của Khách
                                                        hàng. <br><br>
                                                        Việc hoàn thiện hệ thống BPM giúp LPC giải
                                                        quyết nhiều bài toán khó trên nhiều lĩnh
                                                        vực, thông qua những kinh nghiệm từ quá trình
                                                        triển khai, kinh nghiệm từ chính những Khách
                                                        hàng có kinh nghiệm lâu năm trong ngành. LP-BPM
                                                        được ứng dụng thành công trong việc xây dựng
                                                        quy trình cho những Khách hàng có yêu cầu
                                                        chuyên biệt mà những phần mềm khác trên thị
                                                        trường không thể đáp ứng. Một số ứng dụng
                                                        của LP-BPM Platform:<br>
                                                        - Hệ thống quản lý quy trình khám chữa bệnh
                                                        và tự động trích xuất báo cáo tự động<br>
                                                        - Hệ thống khám chữa bệnh từ xa và bệnh án
                                                        điện tử<br>
                                                        - Hệ thống đồng bộ dữ liệu hệ thống ERP -
                                                        DMS<br>
                                                        - Hệ thống kết nối cổng thanh toán NAPAS -
                                                        Mobile Banking - Internetbanking<br>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <img
                                                    src="~/img/product/deadline-time-management-business-concept-vector_107791-42.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="s_text_image pt8 pb8" id="services">
            <div class="container">
                <div class="row pt128">
                    <div class="col-lg-6">
                        <img src="~/img/product/services.svg">
                    </div>
                    <div class="col-lg-6">
                        <div class="sub-heading sub-heading-lpc-4">
                            <h5>DỊCH VỤ IT</h5>
                            <h3 class="">SẴN SÀNG, CHUYÊN NGHIỆP VÀ CHU ĐÁO</h3>
                            <p>Đội ngũ chuyên gia của công ty Liên Phát được trang bị đầy đủ kiến thức cần
                                thiết để đánh giá, phân tích và hiểu rõ các vấn đề về công nghệ dưới góc độ
                                kinh doanh và nhu cầu của thị trường nhằm đưa ra các giải pháp thích hợp.
                                Với triết lý kinh doanh sẵn sàng phục vụ, chúng tôi luôn mong muốn mang đến
                                cho quý khách hàng niềm tin về sự chuyên nghiệp, được cam kết bời sự đáp ứng
                                nhanh nhất với chất lượng tốt nhất.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="row s_col_no_bgcolor s_faq_collapse">
                            <div class="col-lg-12 pt16 pb16">
                                <div id="myCollapse" class="accordion" role="tablist">
                                    <div class="card bg-white">
                                        <a href="#tu_van_trien_khai_cntt" role="tab"
                                            data-toggle="collapse" aria-expanded="true"
                                            class="collapsed card-header">DỊCH VỤ TƯ VẤN VÀ TRIỂN KHAI HỆ
                                            THỐNG CNTT </a>
                                        <div class="collapse row" role="tabpanel" id="tu_van_trien_khai_cntt">
                                            <div class="col-8">
                                                <div class="card-body">
                                                    <p class="card-text">
                                                        Dịch vụ gồm có:<br>
                                                        - Tư vấn, thiết kế &amp; xây dựng tổng thể hệ thống
                                                        CNTT bao gồm giải pháp, Server, Application, Dịch
                                                        vụ.<br>
                                                        - Tư vấn nâng cấp và triển khai hệ thống.<br>
                                                        - Giải đáp các yêu cầu về kỹ thuật.<br>
                                                        - Trình bày và triển các giải pháp công nghệ cao
                                                        &amp; hiện đại. (Cloud Computing, Virtualization,
                                                        Data Store, Backup, …)
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <img src="~/img/product/Untitled.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card bg-white">
                                        <a href="#quan_tri_in_an" role="tab"
                                            data-toggle="collapse" aria-expanded="true"
                                            class="collapsed card-header">DỊCH VỤ QUẢN TRỊ IN ẤN</a>
                                        <div class="collapse row" role="tabpanel" id="quan_tri_in_an">
                                            <div class="col-8">
                                                <div class="card-body">
                                                    <p class="card-text">
                                                        PMS (Dịch Vụ Quản Lý In Ấn) là dịch vụ thuê ngoài để
                                                        quản lý môi trường in ấn của một tổ chức với các
                                                        thiết bị văn phòng như máy in, thiết bị đa năng cũng
                                                        như các tiến trình làm việc liên quan đến in
                                                        ấn.<br><br>
                                                        Lợi ích của Dịch vụ<br>
                                                        - Tăng năng xuất làm việc của nhân viên công ty do
                                                        các máy in được cung cấp với công suất cao đáp ứng
                                                        nhanh nhu cầu của người dùng<br>
                                                        - Giảm chi phí in ấn công ty từ 10% – 30%<br>
                                                        - Hiệu quả sử dụng tăng cao. Một đối tác cho các
                                                        cuộc gọi dịch vụ, cung cấp bơm mực tự động, loại bỏ
                                                        kho lưu trữ các thiết bị, maintenance kit, tonner.
                                                        Bảo mật tài liệu với các giải thuật mã hoá. Tránh
                                                        mất mát dữ liệu<br>
                                                        - Nâng cao ý thức sử dụng in ấn của người dùng cho
                                                        công việc. Lưu trữ và in ấn linh hoạt. Cho phép in
                                                        ấn bất kỳ thời gian và địa điểm<br>
                                                        - Dễ dàng phân bổ chi phí chính xác cho từng phòng
                                                        ban<br>
                                                        - Bảo vệ việc truy cập trái phép các thiết bị in
                                                        ấn<br>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <img src="~/img/product/ok.jpg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card bg-white">
                                        <a href="#it_relocation" role="tab"
                                            data-toggle="collapse" aria-expanded="true"
                                            class="collapsed card-header">DỊCH VỤ IT RELOCATION</a>
                                        <div class="collapse row" role="tabpanel" id="it_relocation">
                                            <div class="col-8">
                                                <div class="card-body">
                                                    <p class="card-text">
                                                        Với một nền kinh tế năng động như hiện nay thì việc
                                                        dịch chuyển văn phòng là một nhu cầu thật sự thiết
                                                        yếu. Tuy nhiên việc di chuyển hệ thống CNTT là một
                                                        chuyện không hề đơn giản và tiềm ẩn nhiều rủi
                                                        ro.<br><br>
                                                        Nắm bắt nhu cầu thực tế này, LPC cung cấp Gói Dịch
                                                        vụ di dời hệ thống công nghệ thông tin với tính
                                                        chuyên nghiệp cao và đảm bảo an toàn thông tin khách
                                                        hàng.<br><br>
                                                        Dịch vụ gồm có:<br>
                                                        - Đánh giá khảo sát hiện trạng hệ thống hiện
                                                        tại.<br>
                                                        - Khảo sát vị trí chổ đặt mới.<br>
                                                        - Thiết kế Data center và tư vấn xây dựng hệ thống
                                                        theo chuẩn chuyên nghiệp.<br>
                                                        - Thực hiện di dời hệ thống IT.<br>
                                                        - Hỗ trợ khắc phục sự cố.<br>
                                                        - Lập tài liệu hạ tầng sau di dời.<br>
                                                        - Hỗ trợ sau di dời.<br>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <img src="~/img/product/IT relocation.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card bg-white">
                                        <a href="#chuyen_doi_cloud" role="tab"
                                            data-toggle="collapse" aria-expanded="true"
                                            class="collapsed card-header">DỊCH VỤ CHUYỂN ĐỔI CLOUD
                                            COMPUTING</a>
                                        <div class="collapse row" role="tabpanel" id="chuyen_doi_cloud">
                                            <div class="col-8">
                                                <div class="card-body">
                                                    <p class="card-text">
                                                        - Dịch vụ tư vấn Cloud – IaaS, SaaS, PaaS<br>
                                                        - Dịch vụ chuyển đổi hạ tầng từ On Premise lên
                                                        Cloud<br>
                                                        - Dịch vụ triển khai Cloud Computing: Microsoft 365,
                                                        Azure VM, Azure Backup, Azure Protection…
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <img
                                                    src="~/img/product/server-control-panel-hosting-software-vector-illustration_116137-337.jpg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card bg-white">
                                        <a href="#cho_thue_thiet_bi" role="tab"
                                            data-toggle="collapse" aria-expanded="true"
                                            class="collapsed card-header">DỊCH VỤ CHO THUÊ THIẾT BỊ</a>
                                        <div class="collapse row" role="tabpanel" id="cho_thue_thiet_bi">
                                            <div class="col-8">
                                                <div class="card-body">
                                                    <p class="card-text">
                                                        Devices As A Service (DaaS) là dịch vụ cung cấp PC,
                                                        máy tính xách tay, điện thoại, tablet, máy chủ,
                                                        thiết bị mạng và các thiết bị CNTT như một dịch vụ
                                                        trả phí. DaaS cho phép mở rộng quy mô và thiết bị
                                                        vật lý khi cần thiết và cập nhật lên phần cứng mới
                                                        thường xuyên hơn và nhanh chóng hơn mà không gây
                                                        căng thẳng cho chính Doanh nghiệp của bạn.<br><br>
                                                        Các lợi ích:<br>
                                                        - Khả năng mở rộng về số lượng cũng như cấu hình dễ
                                                        dàng khi cần thiết<br>
                                                        - Chuyển đổi từ chi phí sở hữu sang chi phí hoạt
                                                        động<br>
                                                        - Giảm khối lượng cho nhân viên CNTT để cài đặt và
                                                        cấu hình thiết bị<br>
                                                        - Cấu hình được năng cấp sau mỗi thời gian qui
                                                        định<br>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <img
                                                    src="~/img/product/cloud-computing-technology-isometric_108855-1489.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>