@{
ViewData["Title"] = "Login";
}

<div class="oe_website_login_container">
    <form class="oe_login_form" role="form" method="post" onsubmit="this.action = this.action + location.hash"
        action="https://lp.com.vn/vi_VN/web/login">
        <input type="hidden" name="csrf_token" value="ab1453cf48638616adad01abaffea47594ed3394o1667927489">
        <div class="form-group field-login">
            <label for="login">Email</label>
            <input type="text" placeholder="Email" name="login" id="login" required="required" autofocus="autofocus"
                autocapitalize="off" class="form-control ">
        </div>

        <div class="form-group field-password">
            <label for="password">Mật khẩu</label>
            <input type="password" placeholder="Mật khẩu" name="password" id="password" required="required"
                autocomplete="current-password" maxlength="4096" class="form-control ">
        </div>

        <div class="clearfix oe_login_buttons text-center mb-1 pt-3">
            <button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
            <div class="justify-content-between mt-2 d-flex small">
            </div>
            <div class="o_login_auth"></div>
        </div>
        <input type="hidden" name="redirect">
    </form>
</div>