﻿@{
ViewData["Title"] = "Home Page";
}

<div id="wrap" class="oe_structure js_home">
    <section class="banner-section digital-banner banner-style1">
        <div class="banner-s_carousel">
            <div id="myCarousel" class="s_carousel s_carousel_default carousel slide" data-interval="10000">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                </ol>
                <div class="carousel-inner">
                    <div data-name="Slide" class="carousel-item oe_custom_bg oe_img_bg pt80 pb80 active"
                        style="background-image: url(img/home/banner-background.png); height: 300px; min-height: 300px;">
                        <div class="container">
                            <div class="row content">
                                <div class="carousel-content col-lg-12">
                                    <div data-name="Title" class="s_title pb8 text-center">
                                        <h2 class="s_title_default">
                                            <span>SẴN SÀNG, CHUYÊN NGHIỆP VÀ CHU ĐÁO.</span>
                                        </h2>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 hide-mobile"></div>
                                        <div class="text-center col-lg-6 col-md-12 col-sm-12">
                                            <p><br></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-control-prev" data-target="#myCarousel" data-slide="prev" role="img"
                    aria-label="Trước đó" title="Trước đó">
                    <span class="carousel-control-prev-icon"></span>
                    <span class="sr-only">Previous</span>
                </div>
                <div class="carousel-control-next" data-target="#myCarousel" data-slide="next" role="img"
                    aria-label="Kế tiếp" title="Kế tiếp">
                    <span class="carousel-control-next-icon"></span>
                    <span class="sr-only">Next</span>
                </div>
            </div>
        </div>
    </section>
    <section class="section-md pt-0 pb-0">
        <div class="container">
            <div class="row mt-4">
                <div class="col-md-4 text-center">
                    <div class="feature feature-lpc">
                        <a asp-controller="Product" asp-fragment="system_integration">
                            <div class="feature-icon theme-text">
                                <img src="~/img/home/systemintegration.svg">
                            </div>
                            <div class="feature-info">
                                <h5 class="title">Tích hợp hệ thống</h5>
                                <p>Tư vấn, cung cấp và triển khai tích hợp các hệ thống Mạng, Máy chủ,
                                    Storage, Cloud,...tùy vào quy mô và nhu cầu của mỗi khách hàng
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="feature feature-lpc">
                        <a asp-controller="Product" asp-fragment="digital_transformation">
                            <div class="feature-icon theme-text">
                                <img src="~/img/home/digitaltransform.svg">
                            </div>
                            <div class="feature-info">
                                <h5 class="title">Chuyển đổi sổ</h5>
                                <p>Chuyển đổi số sẽ thay đổi toàn diện cách thức mà một doanh nghiệp hoạt
                                    động, tăng hiệu quả hợp tác, tối ưu hóa hiệu suất làm việc và mang lại
                                    giá trị cho khách hàng.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="feature feature-lpc">
                        <a asp-controller="Product" asp-fragment="services">
                            <div class="feature-icon theme-text">
                                <img src="~/img/home/services.svg">
                            </div>
                            <div class="feature-info">
                                <h5 class="title">Dịch vụ IT</h5>
                                <p>Với triết lý kinh doanh sẵn sàng phục vụ, chúng tôi luôn mong muốn mang
                                    đến cho quý khách hàng niềm tin về sự chuyên nghiệp, được cam kết bời sự
                                    đáp ứng nhanh nhất với chất lượng tốt nhất.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-md pt-0 pb-0">
        <div class="background-rectangle-left"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-block">
                        <div class="sub-heading sub-heading-lpc2-no-bg">
                            <h2 class="">
                                ĐỐI TÁC CÔNG NGHỆ
                            </h2>
                        </div>
                    </div>
                </div>
            </div>



            <div class="container">
                <div id="partner_slider" class="carousel slide carousel-multi-item" data-ride="carousel"
                    data-interval="3000">
                    <ol class="carousel-indicators">
                        <li data-target="#partner_slider" data-slide-to="0" class="active"></li>
                        <li data-target="#partner_slider" data-slide-to="1" class=""></li>
                        <li data-target="#partner_slider" data-slide-to="2" class=""></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active" style="min-height: 105px;">
                            <div class="row partner-logo col-12">
                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/netgear-logo-2014.svg">
                                </div>

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/Trend-Micro-Logo.svg.png">
                                </div>

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/Hitachi_logo.png">
                                </div>

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/CyberArk.png">
                                </div>

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/oracle-logo.svg">
                                </div>

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/Dell-EMC-Logo.png">
                                </div>

                            </div>
                        </div>

                        <div class="carousel-item" style="min-height: 105px;">
                            <div class="row partner-logo col-12">

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/microsoft.svg">
                                </div>

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/PANW_Parent_Brand_Primary_Logo_RGB.png">
                                </div>

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/Cisco-logo.png">
                                </div>

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/sophos-logo.png">
                                </div>

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/f5.png">
                                </div>

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/vmware-1.svg">
                                </div>

                            </div>
                        </div>

                        <div class="carousel-item" style="min-height: 105px;">
                            <div class="row partner-logo col-12">

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/veeam_logo_topaz-500.png.web.1280.1280.png">
                                </div>

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/1373px-Hewlett_Packard_Enterprise_logo.svg.png">
                                </div>

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/peplink-vector-logo.png">
                                </div>

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/Fortinet.png.png">
                                </div>

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/1200px-Juniper_Networks_logo.svg.png">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-md pb-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-block">
                        <div class="sub-heading sub-heading-lpc-2 text-center">
                            <img src="~/img/home/testimonials.svg">
                            <h2 class="">Khách hàng của chúng tôi</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>

            <div class="container">
                <div id="customer_slider" class="carousel slide carousel-multi-item" data-ride="carousel"
                    data-interval="3000">
                    <ol class="carousel-indicators">
                        <li data-target="#customer_slider" data-slide-to="0" class="active"></li>
                        <li data-target="#customer_slider" data-slide-to="1" class=""></li>
                        <li data-target="#customer_slider" data-slide-to="2" class=""></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active" style="min-height: 105px;">
                            <div class="row partner-logo col-12">

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/999px-Highlands_Coffee_logo.svg.png">
                                </div>

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/Thaco.png">
                                </div>

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/Maison-logo.png">
                                </div>

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/Loc troi 1.png">
                                </div>

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/MUFG_logo_Mitsubishi_UFJ_Financial_Group.png">
                                </div>

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/AIH_edit.png">
                                </div>

                            </div>
                        </div>

                        <div class="carousel-item" style="min-height: 105px;">
                            <div class="row partner-logo col-12">

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/ACB_Logo.png">
                                </div>

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/vinamilk-2.png">
                                </div>

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/adidas.png">
                                </div>

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/CGV- edit.png">
                                </div>

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/logo-tiki_edit.png">
                                </div>

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/thebank_congtybaohiemsamsungvina_1543328798.png">
                                </div>

                            </div>
                        </div>

                        <div class="carousel-item" style="min-height: 105px;">
                            <div class="row partner-logo col-12">

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/DHG Pharma.png">
                                </div>

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/IVB.jpg">
                                </div>

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/shinhanbank-vietnam.png">
                                </div>

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/pharmacity_logo-1200x900.png">
                                </div>

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/logo-nam-long.png">
                                </div>

                                <div class="col-md-2 logo-block col-sm-12">
                                    <img src="~/img/home/IDP.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-md pt-30 pb-0">
        <div class="background-rectangle-right home"></div>
        <div class="background-cirle-left"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-block">
                        <div class="sub-heading sub-heading-lpc-3 text-center pt64">
                            <img src="~/img/home/business.svg">
                            <h2 class="">KẾT QUẢ KINH DOANH</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <p class="banner-text text-right">Trong bối cảnh thị trường có nhiều biến động, chúng
                        tôi vẫn tự hào là một trong số ít các đơn vị có sự tăng trưởng tốt và phát triển ổn
                        định
                    </p>
                </div>
                <div class="col-md-12">
                    <div role="tabpanel" class="tab-pane active sale-report" id="sale_report">
                        <div style="position: relative;">
                            <div dir="ltr" style="position: relative; width: 1210px; height: 320px;">
                                <div style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;"
                                    aria-label="A chart."><svg width="1210" height="320" aria-label="A chart."
                                        style="overflow: hidden;">
                                        <defs id="_ABSTRACT_RENDERER_ID_0">
                                            <clippath id="_ABSTRACT_RENDERER_ID_1">
                                                <rect x="143" y="61" width="924" height="198"></rect>
                                            </clippath>
                                            <filter id="_ABSTRACT_RENDERER_ID_2">
                                                <fegaussianblur in="SourceAlpha" stdDeviation="2">
                                                </fegaussianblur>
                                                <feoffset dx="1" dy="1"></feoffset>
                                                <fecomponenttransfer>
                                                    <fefunca type="linear" slope="0.1"></fefunca>
                                                </fecomponenttransfer>
                                                <femerge>
                                                    <femergenode></femergenode>
                                                    <femergenode in="SourceGraphic"></femergenode>
                                                </femerge>
                                            </filter>
                                        </defs>
                                        <rect x="0" y="0" width="1210" height="320" stroke="none" stroke-width="0"
                                            fill="#ffffff"></rect>
                                        <g>
                                            <rect x="1082" y="61" width="30" height="39" stroke="none" stroke-width="0"
                                                fill-opacity="0" fill="#ffffff"></rect>
                                            <g>
                                                <rect x="1082" y="61" width="30" height="15" stroke="none"
                                                    stroke-width="0" fill-opacity="0" fill="#ffffff"></rect>
                                                <rect x="1082" y="61" width="30" height="15" stroke="none"
                                                    stroke-width="0" fill="#3366cc"></rect>
                                            </g>
                                            <g>
                                                <rect x="1082" y="85" width="30" height="15" stroke="none"
                                                    stroke-width="0" fill-opacity="0" fill="#ffffff"></rect>
                                                <path d="M1082,92.5L1112,92.5" stroke="#dc3912" stroke-width="2"
                                                    fill-opacity="1" fill="none"></path>
                                            </g>
                                        </g>
                                        <g>
                                            <rect x="143" y="61" width="924" height="198" stroke="none" stroke-width="0"
                                                fill-opacity="0" fill="#ffffff"></rect>
                                            <g clip-path="url(https://lp.com.vn/vi_VN/#_ABSTRACT_RENDERER_ID_1)">
                                                <g>
                                                    <rect x="143" y="258" width="924" height="1" stroke="none"
                                                        stroke-width="0" fill="#cccccc">
                                                    </rect>
                                                    <rect x="143" y="192" width="924" height="1" stroke="none"
                                                        stroke-width="0" fill="#cccccc">
                                                    </rect>
                                                    <rect x="143" y="127" width="924" height="1" stroke="none"
                                                        stroke-width="0" fill="#cccccc">
                                                    </rect>
                                                    <rect x="143" y="61" width="924" height="1" stroke="none"
                                                        stroke-width="0" fill="#cccccc">
                                                    </rect>
                                                    <rect x="143" y="225" width="924" height="1" stroke="none"
                                                        stroke-width="0" fill="#ebebeb">
                                                    </rect>
                                                    <rect x="143" y="160" width="924" height="1" stroke="none"
                                                        stroke-width="0" fill="#ebebeb">
                                                    </rect>
                                                    <rect x="143" y="94" width="924" height="1" stroke="none"
                                                        stroke-width="0" fill="#ebebeb">
                                                    </rect>
                                                </g>
                                                <g>
                                                    <rect x="179" y="241" width="114" height="148" stroke="none"
                                                        stroke-width="0" fill="#3366cc">
                                                    </rect>
                                                    <rect x="363" y="230" width="114" height="159" stroke="none"
                                                        stroke-width="0" fill="#3366cc">
                                                    </rect>
                                                    <rect x="548" y="178" width="114" height="211" stroke="none"
                                                        stroke-width="0" fill="#3366cc">
                                                    </rect>
                                                    <rect x="733" y="133" width="114" height="256" stroke="none"
                                                        stroke-width="0" fill="#3366cc">
                                                    </rect>
                                                    <rect x="917" y="100" width="114" height="289" stroke="none"
                                                        stroke-width="0" fill="#3366cc">
                                                    </rect>
                                                </g>
                                                <g>
                                                    <path
                                                        d="M235.8,240.11333333333332L420.4,229.60666666666665L605,177.07333333333332L789.6,132.42000000000002L974.1999999999999,99.58666666666664"
                                                        stroke="#dc3912" stroke-width="2" fill-opacity="1" fill="none">
                                                    </path>
                                                </g>
                                            </g>
                                            <g></g>
                                            <g>
                                                <g><text text-anchor="middle" x="235.8" y="280.75" font-family="Arial"
                                                        font-size="15" stroke="none" stroke-width="0"
                                                        fill="#222222">2017</text></g>
                                                <g><text text-anchor="middle" x="420.4" y="280.75" font-family="Arial"
                                                        font-size="15" stroke="none" stroke-width="0"
                                                        fill="#222222">2018</text></g>
                                                <g><text text-anchor="middle" x="605" y="280.75" font-family="Arial"
                                                        font-size="15" stroke="none" stroke-width="0"
                                                        fill="#222222">2019</text></g>
                                                <g><text text-anchor="middle" x="789.6" y="280.75" font-family="Arial"
                                                        font-size="15" stroke="none" stroke-width="0"
                                                        fill="#222222">2020</text></g>
                                                <g><text text-anchor="middle" x="974.1999999999999" y="280.75"
                                                        font-family="Arial" font-size="15" stroke="none"
                                                        stroke-width="0" fill="#222222">2021</text></g>
                                            </g>
                                        </g>
                                        <g></g>
                                    </svg>
                                    <div aria-label="A tabular representation of the data in the chart."
                                        style="position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden;">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Year</th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>2017</td>
                                                    <td>114</td>
                                                    <td>114</td>
                                                </tr>
                                                <tr>
                                                    <td>2018</td>
                                                    <td>122</td>
                                                    <td>122</td>
                                                </tr>
                                                <tr>
                                                    <td>2019</td>
                                                    <td>162</td>
                                                    <td>162</td>
                                                </tr>
                                                <tr>
                                                    <td>2020</td>
                                                    <td>196</td>
                                                    <td>196</td>
                                                </tr>
                                                <tr>
                                                    <td>2021</td>
                                                    <td>221</td>
                                                    <td>221</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div aria-hidden="true"
                                style="display: none; position: absolute; top: 330px; left: 1220px; white-space: nowrap; font-family: Arial; font-size: 15px; font-weight: bold;">
                                196</div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="background-rectangle-left-big"></div>
        <div class="background-cirle-haft"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-block">
                        <div class="sub-heading sub-heading-lpc-5 text-center">
                            <img src="~/img/home/news.svg">
                            <h2 class="">TIN TỨC </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt16">
                <div class="container my-4">
                    <div id="post_slider" class="carousel slide carousel-multi-item" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#post_slider" data-slide-to="0" class="active"></li>
                            <li data-target="#post_slider" data-slide-to="1" class=""></li>
                            <li data-target="#post_slider" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active" style="min-height: 549px;">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card mb-2">
                                            <a href="https://lp.com.vn/vi_VN/blog/1/post/43">
                                                <img class="card-img-top" alt="integration-section"
                                                    src="~/img/home/dell-emc-powerstore-500.png">
                                            </a>
                                            <div class="card-body">
                                                <h4 class="card-title">
                                                    <span>Dell EMC PowerStore 500 và 1000: Chi phí tối ưu,
                                                        hiệu năng vượt trội</span>
                                                </h4>
                                                <p class="card-text">
                                                    <span></span>
                                                </p>
                                                <a class="btn btn-primary"
                                                    href="https://lp.com.vn/vi_VN/blog/1/post/43">
                                                    Xem thêm
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card mb-2">
                                            <a href="https://lp.com.vn/vi_VN/blog/1/post/6">
                                                <img class="card-img-top" alt="integration-section"
                                                    src="~/img/home/intel.jpg">
                                            </a>
                                            <div class="card-body">
                                                <h4 class="card-title">
                                                    <span>Intel công bố chip Core Gen 11 và modem 5G M2 đầu
                                                        tiên cho máy tính xách tay tại Computex</span>
                                                </h4>
                                                <p class="card-text">
                                                </p>
                                                <a class="btn btn-primary" href="https://lp.com.vn/vi_VN/blog/1/post/6">
                                                    Xem thêm
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card mb-2">
                                            <a href="https://lp.com.vn/vi_VN/blog/1/post/5">
                                                <img class="card-img-top" alt="integration-section"
                                                    src="~/img/home/targus.jpg">
                                            </a>
                                            <div class="card-body">
                                                <h4 class="card-title">
                                                    <span>TARGUS: Một hãng đi đầu trong nghành phụ
                                                        kiện</span>
                                                </h4>
                                                <p class="card-text">
                                                    <span></span>
                                                </p>
                                                <a class="btn btn-primary" href="https://lp.com.vn/vi_VN/blog/1/post/5">
                                                    Xem thêm
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item" style="min-height: 549px;">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card mb-2">
                                            <a href="https://lp.com.vn/vi_VN/blog/1/post/4">
                                                <img class="card-img-top" alt="integration-section"
                                                    src="~/img/home/forti.jpg">
                                            </a>
                                            <div class="card-body">
                                                <h4 class="card-title">
                                                    <span>Hơn 300 tính năng mới được bổ sung trong FortiOS
                                                        7.0</span>
                                                </h4>
                                                <p class="card-text">
                                                    <span>FortiOS 7.0 giúp mở rộng khả năng của Fortinet
                                                        Security Fabric để cung cấp bảo mật nhất quán trên
                                                        tất cả các mạng, thiết bị đầu cuối và đám mây và sẽ
                                                        ra mắt vào cuối quý 1 năm 2021</span>
                                                </p>
                                                <a class="btn btn-primary" href="https://lp.com.vn/vi_VN/blog/1/post/4">
                                                    Xem thêm
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card mb-2">
                                            <a href="https://lp.com.vn/vi_VN/blog/1/post/2">
                                                <img class="card-img-top" alt="integration-section"
                                                    src="~/img/home/server primergy1.jpg">
                                            </a>
                                            <div class="card-body">
                                                <h4 class="card-title">
                                                    <span>Máy chủ Fujitsu Primergy - Điểm nhấn Công
                                                        nghệ.</span>
                                                </h4>
                                                <p class="card-text">
                                                    <span>So với máy chủ Node ưu việt về mật độ tích hợp,
                                                        máy chủ Rack lại đạt được sự cân bằng về lưu trữ, xử
                                                        lý cũng như kết nối.</span>
                                                </p>
                                                <a class="btn btn-primary" href="https://lp.com.vn/vi_VN/blog/1/post/2">
                                                    Xem thêm
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
    </section>

</div>