@{
    ViewData["Title"] = "About Us";
}


<div id="wrap">
    <div class="oe_structure">
        <section class="pt80 pb72 header-page" style="background-image: url(img/common/header-background.svg);">
            <div class="container">
                <div class="row s_nb_column_fixed">
                    <div class="col-lg-12 s_title">
                        <h2 class="text-center">VỀ CHÚNG TÔI</h2>
                        <h6 class="text-center">TRANG CHỦ / VỀ CHÚNG TÔI</h6>
                    </div>
                </div>
            </div>
        </section>

        <section class="s_text_image pt8 pb8">
            <div class="container">
                <div class="row pt64 pb32">
                    <div class="col-lg-6">
                        <div class="sub-heading sub-heading-lpc-4">
                            <img src="~/img/about/about-us.svg">
                            <h3 class="">SẴN SÀNG, CHUYÊN NGHIỆP VÀ CHU ĐÁO</h3>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <p>
                            Công ty Cổ Phần Công Nghệ Liên Phát được thành lập từ đầu năm 2013, với nền tảng
                            là đội ngũ chuyên gia và kỹ sư có gần 10 năm kinh nghiệm trong lĩnh vực Công
                            Nghệ Thông Tin.
                        </p>
                        <p>
                            Với thế mạnh của một Công ty hàng đầu trong lĩnh vực cung cấp sản phẩm và tích
                            hợp giải pháp Công Nghệ, chúng tôi đã cung cấp và triển khai thành công các gói
                            sản phẩm dịch vụ, giải pháp và tích hợp hệ thống cho Quý khách hàng lớn trong
                            nhiều lĩnh vực như: Ngân hàng, chuỗi bán lẻ, sản xuất, kho vận, các doanh nghiệp
                            trong và ngoài nước…
                        </p>
                        <p>
                            Với triết lý kinh doanh "Sẵn sàng phục vụ", chúng tôi mong muốn mang đến cho Quý
                            khách hàng niềm tin về sự chuyên nghiệp, được cam kết bởi sự đáp ứng nhanh nhất
                            với chất lượng tốt nhất. Đây cũng chính là nền tảng để chúng tôi có thể thực
                            hiện được sứ mệnh: đáp ứng tốt nhất nhu cầu về sản phẩm dịch vụ Công nghệ của
                            Quý Khách hàng, mang lại giá trị gia tăng bền vững cho cổ đông và đối tác, tạo
                            môi trường làm việc lý thú và thu nhập cao cho mỗi thành viên, thực hiện các
                            hoạt động vì cộng đồng và lợi ích của quốc gia.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-md pb16">
            <div class="background-cirle-full"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading-block">
                            <div class="sub-heading sub-heading-lpc-4">
                                <img src="~/img/about/directing.svg">
                                <h2 class="">TƯ TƯỞNG CỐT LÕI</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="banner-text">
                            LPC liên tục cải tiến trong mọi lĩnh vực hoạt động để phát triển và tạo ra những
                            sản phẩm dịch vụ có giá trị hơn cho Khách Hàng. Chúng tôi luôn sẵn sàng đáp ứng
                            công việc với sự chuyên nghiệp cao và chu đáo đến từng chi tiết nhỏ. Mang lại sự
                            giàu có, hạnh phúc cho mỗi thành viên, đồng thời góp phần vào sự tiến bộ của xã
                            hội đó cũng là trách nhiệm và nghĩa vụ của chúng tôi.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <img src="~/img/about/Tu tuong cot loi.JPG">
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container theme-bg custom-info">
                <div class="row pt48">
                    <div class="col-lg-4 col-sm-12 info pb48">
                        <div class="col-6 text-right border-right">
                            <img src="~/img/about/rocket.svg" alt="Dự án">
                        </div>
                        <div class="col-6 text-left">
                            <h4>&gt; 700</h4>
                            <p>Dự án</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12 info pb48">
                        <div class="col-6 text-right border-right">
                            <img src="~/img/about/handshake.svg" alt="Dự án">
                        </div>
                        <div class="col-6 text-left">
                            <h4>&gt; 30</h4>
                            <p>Đối tác</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12 info pb48">
                        <div class="col-6 text-right border-right">
                            <img src="~/img/about/rating.svg" alt="Dự án">
                        </div>
                        <div class="col-6 text-left">
                            <h4>&gt; 500</h4>
                            <p>Khách hàng</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="s_text_image pt8 pb8">
            <div class="container">
                <div class="row pt32">
                    <div class="col-lg-12">
                        <div class="sub-heading sub-heading-lpc-6 aboutus text-right">
                            <img src="~/img/about/clients.svg">
                            <h3 class="">CHÚNG TÔI LÀ ĐỐI TÁC VỚI NHỮNG CÔNG TY CÔNG NGHỆ.
                                <br>
                                HÀNG ĐẦU THẾ GIỚI
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div id="partner_slider" class="carousel slide carousel-multi-item" data-ride="carousel"
                        data-interval="3000">
                        <ol class="carousel-indicators">
                            <li data-target="#partner_slider" data-slide-to="0" class="active"></li>
                            <li data-target="#partner_slider" data-slide-to="1" class=""></li>
                            <li data-target="#partner_slider" data-slide-to="2" class=""></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active" style="min-height: 105px;">
                                <div class="row partner-logo col-12">

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/netgear-logo-2014.svg">
                                    </div>

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/Trend-Micro-Logo.svg.png">
                                    </div>

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/Hitachi_logo.png">
                                    </div>

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/CyberArk.png">
                                    </div>

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/oracle-logo.svg">
                                    </div>

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/Dell-EMC-Logo.png">
                                    </div>

                                </div>
                            </div>

                            <div class="carousel-item" style="min-height: 105px;">
                                <div class="row partner-logo col-12">

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/microsoft.svg">
                                    </div>

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/PANW_Parent_Brand_Primary_Logo_RGB.png">
                                    </div>

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/Cisco-logo.png">
                                    </div>

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/sophos-logo.png">
                                    </div>

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/f5.png">
                                    </div>

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/vmware-1.svg">
                                    </div>

                                </div>
                            </div>

                            <div class="carousel-item" style="min-height: 105px;">
                                <div class="row partner-logo col-12">

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/veeam_logo_topaz-500.png.web.1280.1280.png">
                                    </div>

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img
                                            src="~/img/about/1373px-Hewlett_Packard_Enterprise_logo.svg.png">
                                    </div>

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/peplink-vector-logo.png">
                                    </div>

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/Fortinet.png.png">
                                    </div>

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/1200px-Juniper_Networks_logo.svg.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-md pb-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading-block">
                            <div class="sub-heading sub-heading-lpc-2 text-center">
                                <img src="~/img/about/testimonials.svg">
                                <h2 class="">KHÁCH HÀNG TIÊU BIỂU</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>

                <div class="container">
                    <div id="customer_slider" class="carousel slide carousel-multi-item" data-ride="carousel"
                        data-interval="3000">
                        <ol class="carousel-indicators">
                            <li data-target="#customer_slider" data-slide-to="0" class="active"></li>
                            <li data-target="#customer_slider" data-slide-to="1" class=""></li>
                            <li data-target="#customer_slider" data-slide-to="2" class=""></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active" style="min-height: 105px;">
                                <div class="row partner-logo col-12">

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/999px-Highlands_Coffee_logo.svg.png">
                                    </div>

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/Thaco.png">
                                    </div>

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/Maison-logo.png">
                                    </div>

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/Loc troi 1.png">
                                    </div>

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/MUFG_logo_Mitsubishi_UFJ_Financial_Group.png">
                                    </div>

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/AIH_edit.png">
                                    </div>

                                </div>
                            </div>

                            <div class="carousel-item" style="min-height: 105px;">
                                <div class="row partner-logo col-12">

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/ACB_Logo.png">
                                    </div>

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/vinamilk-2.png">
                                    </div>

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/adidas.png">
                                    </div>

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/CGV- edit.png">
                                    </div>

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/logo-tiki_edit.png">
                                    </div>

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img
                                            src="~/img/about/thebank_congtybaohiemsamsungvina_1543328798.png">
                                    </div>

                                </div>
                            </div>

                            <div class="carousel-item" style="min-height: 105px;">
                                <div class="row partner-logo col-12">

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/DHG Pharma.png">
                                    </div>

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/IVB.jpg">
                                    </div>

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/shinhanbank-vietnam.png">
                                    </div>

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/pharmacity_logo-1200x900.png">
                                    </div>

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/logo-nam-long.png">
                                    </div>

                                    <div class="col-md-2 logo-block col-sm-12">
                                        <img src="~/img/about/IDP.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="pt8 pb8">
            <div class="background-rectangle-left-big aboutus"></div>
            <div class="container">
                <div class="row pt32">
                    <div class="col-lg-12">
                        <div class="sub-heading sub-heading-lpc-activity text-right">
                            <img src="~/img/about/activity.svg">
                            <h3 class="">DOANH SỐ HÀNG NĂM</h3>
                            <p>
                                Trong bối cảnh thị trường có nhiều biến động, chúng tôi vẫn tự hào là một
                                trong số ít các đơn vị có sự tăng trưởng tốt và phát triển ổn định
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row mt-4 revenue">
                    <div class="parent col-12">
                        <div class="center">
                            <h5 class="text-revenue">Doanh số 2021</h5>
                            <h4 class="value-revenue">221 Tỷ VND</h4>
                        </div>
                    </div>
                </div>
                <div class="row mt-4 revenue-time col-12">
                    <div class="col-3 text-center">
                        <div class="circle small">
                            <h5>2017</h5>
                            <h6>114 Tỷ VND</h6>
                        </div>
                    </div>
                    <div class="col-3 text-center">
                        <div class="circle small">
                            <h5>2018</h5>
                            <h6>122 Tỷ VND</h6>
                        </div>
                    </div>
                    <div class="col-3 text-center">
                        <div class="circle small">
                            <h5>2019</h5>
                            <h6>162 Tỷ VND</h6>
                        </div>
                    </div>
                    <div class="col-3 text-center">
                        <div class="circle small">
                            <h5>2020</h5>
                            <h6>196 Tỷ VND</h6>
                        </div>
                    </div>
                </div>
                <div class="row mt-4 revenue-time-mobile col-12">
                    <div class="col-sm-12 text-center">
                        <div class="circle small">
                            <h5>2020</h5>
                            <h6>196 Tỷ VND</h6>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <div class="circle small">
                            <h5>2019</h5>
                            <h6>162 Tỷ VND</h6>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <div class="circle small">
                            <h5>2018</h5>
                            <h6>122 Tỷ VND</h6>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <div class="circle small">
                            <h5>2017</h5>
                            <h6>114 Tỷ VND</h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>