@{
ViewData["Title"] = "Blogs";
}

<div id="wrap">
    <section class="pt80 pb72 header-page" style="background-image: url(img/common/header-background.svg);">
        <div class="container">
            <div class="row s_nb_column_fixed">
                <div class="col-lg-12 s_title">
                    <h2 class="text-center">TIN TỨC</h2>
                    <h6 class="text-center">TRANG CHỦ / TIN TỨC</h6>
                </div>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="row col-12">
            <div class="row col-lg-8 col-md-8 col-sm-12">
                <div class="col-lg-6 col-md-6 col-sm-12 pt40">
                    <div class="blog-detail">
                        <div class="post-img">
                            <a href="https://lp.com.vn/vi_VN/blog/1/post/43">
                                <img alt="" src="~/img/blog/dell-emc-powerstore-500.png">
                            </a>
                        </div>
                        <div class="post-summary">
                            <div class="pt8">
                                <span class="post-date">tháng 8 04, 2022</span>
                            </div>
                            <div class="">
                                <span class="post-title">Dell EMC PowerStore 500 và 1000: Chi phí tối ưu,
                                    hiệu năng vượt trội</span>
                            </div>
                            <div class="">
                                <div class="text-muted mb16"></div>
                            </div>
                            <span>
                                1205

                                views
                            </span>
                            <div class="">
                                <a class="read-more" href="https://lp.com.vn/vi_VN/blog/1/post/43">
                                    Xem thêm &gt;
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 pt40">
                    <div class="blog-detail">
                        <div class="post-img">
                            <a href="https://lp.com.vn/vi_VN/blog/1/post/7">
                                <img alt="" src="~/img/blog/lpcfpt.png">
                            </a>
                        </div>
                        <div class="post-summary">
                            <div class="pt8">
                                <span class="post-date">tháng 8 11, 2021</span>
                            </div>
                            <div class="">
                                <span class="post-title">Hợp tác cung cấp giải pháp chuyển đổi số với công
                                    nghệ điện toán đám mây và trí tuệ nhân tạo</span>
                            </div>
                            <div class="">
                                <div class="text-muted mb16"></div>
                            </div>
                            <span>
                                959

                                views
                            </span>
                            <div class="">
                                <a class="read-more" href="https://lp.com.vn/vi_VN/blog/1/post/7">
                                    Xem thêm &gt;
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 pt40">
                    <div class="blog-detail">
                        <div class="post-img">
                            <a href="https://lp.com.vn/vi_VN/blog/1/post/6">
                                <img alt="" src="~/img/blog/intel.jpg">
                            </a>
                        </div>
                        <div class="post-summary">
                            <div class="pt8">
                                <span class="post-date">tháng 6 06, 2021</span>
                            </div>
                            <div class="">
                                <span class="post-title">Intel công bố chip Core Gen 11 và modem 5G M2 đầu
                                    tiên cho máy tính xách tay tại Computex</span>
                            </div>
                            <div class="">

                            </div>
                            <span>
                                1321

                                views
                            </span>
                            <div class="">
                                <a class="read-more" href="https://lp.com.vn/vi_VN/blog/1/post/6">
                                    Xem thêm &gt;
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 pt40">
                    <div class="blog-detail">
                        <div class="post-img">
                            <a href="https://lp.com.vn/vi_VN/blog/1/post/5">
                                <img alt="" src="~/img/blog/targus.jpg">
                            </a>
                        </div>
                        <div class="post-summary">
                            <div class="pt8">
                                <span class="post-date">tháng 5 10, 2021</span>
                            </div>
                            <div class="">
                                <span class="post-title">TARGUS: Một hãng đi đầu trong nghành phụ
                                    kiện</span>
                            </div>
                            <div class="">
                                <div class="text-muted mb16"></div>
                            </div>
                            <span>
                                1624

                                views
                            </span>
                            <div class="">
                                <a class="read-more" href="https://lp.com.vn/vi_VN/blog/1/post/5">
                                    Xem thêm &gt;
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 pt40">
                    <div class="blog-detail">
                        <div class="post-img">
                            <a href="https://lp.com.vn/vi_VN/blog/1/post/4">
                                <img alt="" src="~/img/blog/forti.jpg">
                            </a>
                        </div>
                        <div class="post-summary">
                            <div class="pt8">
                                <span class="post-date">tháng 3 17, 2021</span>
                            </div>
                            <div class="">
                                <span class="post-title">Hơn 300 tính năng mới được bổ sung trong FortiOS
                                    7.0</span>
                            </div>
                            <div class="">
                                <div class="text-muted mb16">FortiOS 7.0 giúp mở rộng khả năng của Fortinet
                                    Security Fabric để cung cấp bảo mật nhất quán trên tất cả các mạng,
                                    thiết bị đầu cuối và đám mây và sẽ ra mắt vào cuối quý 1 năm 2021</div>
                            </div>
                            <span>
                                1664

                                views
                            </span>
                            <div class="">
                                <a class="read-more" href="https://lp.com.vn/vi_VN/blog/1/post/4">
                                    Xem thêm &gt;
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 pt40">
                    <div class="blog-detail">
                        <div class="post-img">
                            <a href="https://lp.com.vn/vi_VN/blog/1/post/2">
                                <img alt="" src="~/img/blog/server primergy1.jpg">
                            </a>
                        </div>
                        <div class="post-summary">
                            <div class="pt8">
                                <span class="post-date">tháng 2 05, 2021</span>
                            </div>
                            <div class="">
                                <span class="post-title">Máy chủ Fujitsu Primergy - Điểm nhấn Công
                                    nghệ.</span>
                            </div>
                            <div class="">
                                <div class="text-muted mb16">So với máy chủ Node ưu việt về mật độ tích hợp,
                                    máy chủ Rack lại đạt được sự cân bằng về lưu trữ, xử lý cũng như kết
                                    nối.</div>
                            </div>
                            <span>
                                1825

                                views
                            </span>
                            <div class="">
                                <a class="read-more" href="https://lp.com.vn/vi_VN/blog/1/post/2">
                                    Xem thêm &gt;
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 pt40 blog-right-content">
                <section class="search pb48">
                    <div class="input-parent">
                        <input class="input-grey" type="text" name="search_box" placeholder="Tìm kiếm..." id="">
                    </div>
                </section>
                <section class="most-viewed pb48">
                    <h5 class="heading">Các bài báo phổ biến</h5>
                    <div class="row blog-detail-small pb16">
                        <div class="col-4">
                            <div class="post-img">
                                <a href="https://lp.com.vn/vi_VN/blog/1/post/2">
                                    <img alt="" src="~/img/blog/server primergy1.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="row">
                                <span class="post-date">tháng 2 05, 2021</span>
                            </div>
                            <div class="row">
                                <span class="post-title">Máy chủ Fujitsu Primergy - Điểm nhấn Công
                                    nghệ.</span>
                            </div>
                        </div>
                    </div>

                    <div class="row blog-detail-small pb16">
                        <div class="col-4">
                            <div class="post-img">
                                <a href="https://lp.com.vn/vi_VN/blog/1/post/4">
                                    <img alt="" src="~/img/blog/forti.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="row">
                                <span class="post-date">tháng 3 17, 2021</span>
                            </div>
                            <div class="row">
                                <span class="post-title">Hơn 300 tính năng mới được bổ sung trong FortiOS
                                    7.0</span>
                            </div>
                        </div>
                    </div>

                    <div class="row blog-detail-small pb16">
                        <div class="col-4">
                            <div class="post-img">
                                <a href="https://lp.com.vn/vi_VN/blog/1/post/5">
                                    <img alt="" src="~/img/blog/targus.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="row">
                                <span class="post-date">tháng 5 10, 2021</span>
                            </div>
                            <div class="row">
                                <span class="post-title">TARGUS: Một hãng đi đầu trong nghành phụ
                                    kiện</span>
                            </div>
                        </div>
                    </div>

                    <div class="row blog-detail-small pb16">
                        <div class="col-4">
                            <div class="post-img">
                                <a href="https://lp.com.vn/vi_VN/blog/1/post/6">
                                    <img alt="" src="~/img/blog/intel.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="row">
                                <span class="post-date">tháng 6 06, 2021</span>
                            </div>
                            <div class="row">
                                <span class="post-title">Intel công bố chip Core Gen 11 và modem 5G M2 đầu
                                    tiên cho máy tính xách tay tại Computex</span>
                            </div>
                        </div>
                    </div>

                    <div class="row blog-detail-small pb16">
                        <div class="col-4">
                            <div class="post-img">
                                <a href="https://lp.com.vn/vi_VN/blog/1/post/43">
                                    <img alt="" src="~/img/blog/dell-emc-powerstore-500.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="row">
                                <span class="post-date">tháng 8 04, 2022</span>
                            </div>
                            <div class="row">
                                <span class="post-title">Dell EMC PowerStore 500 và 1000: Chi phí tối ưu,
                                    hiệu năng vượt trội</span>
                            </div>
                        </div>
                    </div>

                    <div class="row blog-detail-small pb16">
                        <div class="col-4">
                            <div class="post-img">
                                <a href="https://lp.com.vn/vi_VN/blog/1/post/7">
                                    <img alt="" src="~/img/blog/lpcfpt.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="row">
                                <span class="post-date">tháng 8 11, 2021</span>
                            </div>
                            <div class="row">
                                <span class="post-title">Hợp tác cung cấp giải pháp chuyển đổi số với công
                                    nghệ điện toán đám mây và trí tuệ nhân tạo</span>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="tags pb48">
                    <h5 class="heading">Tags</h5>
                    <div class="tag-list">
                        <button type="button" class="btn-blog-tag">
                            <span>Vu Cuong Quoc</span>
                        </button>
                        <button type="button" class="btn-blog-tag">
                            <span>What businesses need to do to increase work efficiency after the impact of
                                COVID-19?</span>
                        </button>
                    </div>
                </section>
                <section class="subscribe pb48">
                    <h5 class="heading">Đăng kí</h5>
                    <div class="input-parent pb16">
                        <input class="input-grey" type="text" name="search_box" placeholder="Nhập email..." id="">
                    </div>
                    <button type="button" class="btn-subscribe">Đăng kí</button>
                </section>
            </div>
        </div>
        <div class="row">

        </div>
    </section>

</div>